docs/n8n-ayalas-bot.workflow.json
{
  "name": "Ayalas Bot (WhatsApp) v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "ayalas-wa",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-verify",
      "name": "Webhook_Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, 80],
      "webhookId": "ayalas-wa-verify"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "id": "resp-challenge",
      "name": "Responder_Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [120, 80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ayalas-wa",
        "options": { "responseData": "noData" }
      },
      "id": "wh-msg",
      "name": "Webhook_Mensajes",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-160, 320],
      "webhookId": "ayalas-wa-msg"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || {};\nconst v = b.entry?.[0]?.changes?.[0]?.value || {};\nconst m = v.messages?.[0];\nif (!m || m.type !== 'text') { return [{ json: { skip: true } }]; }\nreturn [{ json: { skip: false, phone: m.from, message: m.text.body, mid: m.id, phone_number_id: v.metadata?.phone_number_id || '' } }];"
      },
      "id": "parse",
      "name": "Parse_WA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [60, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "id": "c-skip", "leftValue": "={{ $json.skip ? 'YES' : 'NO' }}", "rightValue": "NO", "operator": { "type": "string", "operation": "equals" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-texto",
      "name": "IF_Texto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [280, 320]
    },
    {
      "parameters": {},
      "id": "noop",
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [280, 520]
    },
    {
      "parameters": {
        "url": "http://ayalas-ayalas-app-1:3001/api/bot/info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "timeout": 10000 }
      },
      "id": "http-info",
      "name": "HTTP_Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 280],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Ayalas bot key" } }
    },
    {
      "parameters": {
        "jsCode": "const info = $input.first().json || {};\nconst p = $('Parse_WA').first().json;\nconst settings = info.settings || {};\nconst plans = (info.plans||[]).map(x=>`- ${x.name}: $${x.price} (${x.durationDays} dias)`).join('\\n');\nconst classes = (info.classes||[]).map(x=>`- ${x.name} ${x.startTime?('('+x.startTime+')'):''}`).join('\\n');\nconst TAGS = [\"Lead nuevo\",\"Socio activo\",\"Inactivo\",\"Interesado en clases\"];\nconst sd = $getWorkflowStaticData('global');\nif(!sd.hist) sd.hist = {};\nif(!sd.hist[p.phone]) sd.hist[p.phone] = [];\nconst history = sd.hist[p.phone];\nconst system = `Eres el asistente de ${settings.gym_name||'el gimnasio'} por WhatsApp. Responde en espanol, calido y CONCISO (3-4 lineas).\\nINFO:\\nDireccion: ${settings.address||'-'}\\nHorario: ${settings.hours||'-'}\\nTelefono: ${settings.phone||'-'}\\nPLANES:\\n${plans||'-'}\\nCLASES:\\n${classes||'-'}\\n\\nDevuelve SOLO un JSON valido con esta forma exacta:\\n{\"respuesta\":\"texto para el cliente\",\"tags\":[],\"intent\":\"info|lead|booking|none\",\"lead\":{\"name\":\"\",\"interestedPlan\":\"\"},\"booking\":{\"className\":\"\",\"date\":\"YYYY-MM-DD\"}}\\nReglas:\\n- tags: SOLO de esta lista, las que apliquen: ${JSON.stringify(TAGS)}. Si ninguna, [].\\n- intent: \"lead\" si es prospecto nuevo interesado (llena lead); \"booking\" si quiere reservar clase (llena booking.className y booking.date); \"info\" si solo pide info; \"none\" en otro caso.\\n- No inventes datos. respuesta es lo unico que ve el cliente.`;\nconst messages = [{role:'system',content:system}, ...history, {role:'user',content:p.message}];\nreturn [{ json: { phone:p.phone, phone_number_id:p.phone_number_id, mid:p.mid, message:p.message, api_body: { model:'gpt-4o-mini', messages, temperature:0.5, max_tokens:600, response_format:{ type:'json_object' } } } }];"
      },
      "id": "prompt",
      "name": "Construir_Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.api_body) }}",
        "options": { "timeout": 90000 }
      },
      "id": "openai",
      "name": "HTTP_OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 280],
      "credentials": { "httpHeaderAuth": { "id": "", "name": "OpenAI bearer" } }
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nconst p = $('Construir_Prompt').first().json;\nlet out = { respuesta:'En que te ayudo?', tags:[], intent:'none', lead:{}, booking:{} };\ntry {\n  const j = JSON.parse(resp.choices[0].message.content);\n  out.respuesta = j.respuesta || out.respuesta;\n  out.tags = Array.isArray(j.tags) ? j.tags : [];\n  out.intent = j.intent || 'none';\n  out.lead = j.lead || {};\n  out.booking = j.booking || {};\n} catch(e) {}\nconst sd = $getWorkflowStaticData('global');\nif(!sd.hist) sd.hist = {};\nif(!sd.hist[p.phone]) sd.hist[p.phone] = [];\nsd.hist[p.phone].push({role:'user',content:p.message});\nsd.hist[p.phone].push({role:'assistant',content:out.respuesta});\nif(sd.hist[p.phone].length > 20) sd.hist[p.phone] = sd.hist[p.phone].slice(-20);\nreturn [{ json: { phone:p.phone, phone_number_id:p.phone_number_id, mid:p.mid, message:p.message, respuesta:out.respuesta, tags:out.tags, intent:out.intent, lead:out.lead, booking:out.booking } }];"
      },
      "id": "procesar",
      "name": "Procesar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 280]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $json.phone_number_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ messaging_product:'whatsapp', to: $json.phone, type:'text', text:{ body: $json.respuesta } }) }}",
        "options": {}
      },
      "id": "responder",
      "name": "HTTP_Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 280],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Meta WA bearer" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ayalas-ayalas-app-1:3001/api/bot/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Procesar').first().json.phone, inbound: $('Procesar').first().json.message, outbound: $('Procesar').first().json.respuesta, mid: $('Procesar').first().json.mid, plataforma:'whatsapp', sentAt: new Date().toISOString() }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "log",
      "name": "HTTP_Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 280],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Ayalas bot key" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "id": "c-tags", "leftValue": "={{ ($('Procesar').first().json.tags || []).length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-tags",
      "name": "IF_Tags",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1820, 120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ayalas-ayalas-app-1:3001/api/bot/tags",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Procesar').first().json.phone, plataforma:'whatsapp', tags: $('Procesar').first().json.tags }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "http-tags",
      "name": "HTTP_Tags",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 120],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Ayalas bot key" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "id": "c-lead", "leftValue": "={{ $('Procesar').first().json.intent }}", "rightValue": "lead", "operator": { "type": "string", "operation": "equals" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-lead",
      "name": "IF_Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1820, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ayalas-ayalas-app-1:3001/api/bot/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Procesar').first().json.phone, plataforma:'whatsapp', name: ($('Procesar').first().json.lead||{}).name || undefined, interestedPlan: ($('Procesar').first().json.lead||{}).interestedPlan || undefined }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "http-lead",
      "name": "HTTP_Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 320],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Ayalas bot key" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "loose" },
          "conditions": [ { "id": "c-book", "leftValue": "={{ $('Procesar').first().json.intent }}", "rightValue": "booking", "operator": { "type": "string", "operation": "equals" } } ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-book",
      "name": "IF_Booking",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1820, 520]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ayalas-ayalas-app-1:3001/api/bot/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [ { "name": "Content-Type", "value": "application/json" } ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Procesar').first().json.phone, plataforma:'whatsapp', className: ($('Procesar').first().json.booking||{}).className, date: ($('Procesar').first().json.booking||{}).date }) }}",
        "options": { "timeout": 5000 }
      },
      "id": "http-book",
      "name": "HTTP_Booking",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2040, 520],
      "onError": "continueRegularOutput",
      "credentials": { "httpHeaderAuth": { "id": "", "name": "Ayalas bot key" } }
    }
  ],
  "connections": {
    "Webhook_Verify": { "main": [ [ { "node": "Responder_Challenge", "type": "main", "index": 0 } ] ] },
    "Webhook_Mensajes": { "main": [ [ { "node": "Parse_WA", "type": "main", "index": 0 } ] ] },
    "Parse_WA": { "main": [ [ { "node": "IF_Texto", "type": "main", "index": 0 } ] ] },
    "IF_Texto": { "main": [ [ { "node": "HTTP_Info", "type": "main", "index": 0 } ], [ { "node": "Ignorar", "type": "main", "index": 0 } ] ] },
    "HTTP_Info": { "main": [ [ { "node": "Construir_Prompt", "type": "main", "index": 0 } ] ] },
    "Construir_Prompt": { "main": [ [ { "node": "HTTP_OpenAI", "type": "main", "index": 0 } ] ] },
    "HTTP_OpenAI": { "main": [ [ { "node": "Procesar", "type": "main", "index": 0 } ] ] },
    "Procesar": { "main": [ [ { "node": "HTTP_Responder", "type": "main", "index": 0 } ] ] },
    "HTTP_Responder": { "main": [ [ { "node": "HTTP_Log", "type": "main", "index": 0 } ] ] },
    "HTTP_Log": { "main": [ [ { "node": "IF_Tags", "type": "main", "index": 0 }, { "node": "IF_Lead", "type": "main", "index": 0 }, { "node": "IF_Booking", "type": "main", "index": 0 } ] ] },
    "IF_Tags": { "main": [ [ { "node": "HTTP_Tags", "type": "main", "index": 0 } ], [] ] },
    "IF_Lead": { "main": [ [ { "node": "HTTP_Lead", "type": "main", "index": 0 } ], [] ] },
    "IF_Booking": { "main": [ [ { "node": "HTTP_Booking", "type": "main", "index": 0 } ], [] ] }
  },
  "settings": { "executionOrder": "v1" }
}
